{% load static %}

<!DOCTYPE html>
<html>
	<meta charset="utf-8">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'geo/css/style.css' %}">
	<title>GeoGraph</title>
</head>
<body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v0.min.js"></script>

<script>

var width = 1000;
var height = 600;

// center([latitute, longitude])
var projection = d3.geo.mercator().center([0, 20]).scale(150).rotate([0,0]);

//set up the svg window
var svg = d3.select("body").append("svg").attr("width", width).attr("height", height);

//creat a path generator, this is used to specify a projection type i.e. Mercator projection
var path = d3.geo.path().projection(projection);

//append 'g' to svg
var g = svg.append("g");

//draw a map
//source:
//https://gist.githubusercontent.com/d3noob/5193723/raw/world-110m2.json
d3.json("{% static 'geo/json/world-110m2.json' %}", function(topology) {
	g.selectAll("path")
		.data(topojson.object(topology, topology.objects.countries).geometries).enter()
		.append("path").attr("d", path)

  // Add results to map (map is loaded then the results are added)
	d3.json("{% url 'geo:get_companies' %}", function(data) {
		g.selectAll("circle")
			.data(data)
			.enter()
			.append("a")
				.attr("href", function(d) {
					return "https://www.google.com/search?q="+d.city;
				})
			.append("svg:circle")
			.attr("cx", function(d) {
				return projection([d.lon, d.lat])[0];
			})
			.attr("cy", function(d) {
				return projection([d.lon, d.lat])[1];
			})
			.attr("r", 5)
			.style("fill", "red")
			.append("svg:title")
				.text(function(d) {
					return "This city has code " + d.code + " and is in coutry " + d.country;
				});
	});

});

//Add zoom function to map
var zoom = d3.behavior.zoom()
    .on("zoom",function() {
        g.attr("transform","translate("+
            d3.event.translate.join(",")+")scale("+d3.event.scale+")");
        g.selectAll("path").attr("d", path.projection(projection));
});

svg.call(zoom)

</script>

<br>
<div class="form">
<form action="#" method="post">
	Latitude: <input type="number" step="any" min="-90" max="90" name="">
	Longitude: <input type="number" step="any" min="-180" max="180" name="">
	Tolerance [deg]: <input type="number" step="any" name="">
	Language [optional] <select>
		<option value="default">Default</option>
		<option value="en">English</option>
  		<option value="fr">French</option>
  		<option value="de">German</option>
  		<option value="ru">Russian</option>
	</select>
	<input type="submit" name="" value="Get companies">
</form>
</div>

</body>
</html>
